.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}

#delete-form {
	display:inline;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

.checked {
    color: orange;
}
.register-label {
	text-align: center
}
.register-form {
	width: 30%; margin: 25px auto;
}
#filter-button {
	margin-bottom : 10px;
}
#showpage {
	display:flex; flex-wrap: wrap;
}
.user-profile {
	text-align: center;
}
